.bottom-nav {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  gap: 60px;
  justify-content: center;
}


.nav-icon {
  max-width: 60px;
  max-height: 60px;
  border-radius: 6px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: drop-shadow(0 0 2px transparent);
}

.nav-icon:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 6px #874fdb);
  cursor: pointer;
}
