.click-button {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  width: min(35vw, 300px);
  -webkit-tap-highlight-color: transparent; /* ← отключает синий/чёрный эффект на iOS */
}


.image-click {
  width: 100%;
  height: auto;
}